<!-- start: Wrapper -->
<div id="wrapper">	
	{{partial "nav/navbar"}}

	<div id="content-master"> 
		{{outlet}}
	</div>
	
	<div class="clearfix"></div>
	{{partial "nav/footer"}}
</div>
<!-- End: Wrapper -->