<div class="container-fluid">
    <div class="row-fluid">

        <!-- Left nav -->
        {{partial "nav/leftnav"}}

        <!-- start: Content -->
        <div id="content" class="span11">
            <div class="row-fluid">
                {{outlet}}
             </div>
                <!-- end: Content -->
         </div><!--/#content.span10-->
    </div><!--/fluid-row-->
</div>